<template>
	<div>
		<b-card title="vue">
			<b-card-text>
				<h2>Vue</h2>
			</b-card-text>
        <b-row>
          <b-col cols="12" sm="12" md="12" class="welcome--content">
              <section>
                <div class="clock">
                  <span id="time">00 : 00 : 00</span>
                </div>
              </section>
            </div>
          </b-col>
        </b-row>
		</b-card>
	</div>
</template>
<script>
export default {
	mounted() {
    this.getClock();
  },
  methods: {
    getClock() {
      let clock = document.getElementById("time");

      setInterval(function() {
        let time = new Date();

        let hours = time.getHours();
        let minutes = time.getMinutes();
        let seconds = time.getSeconds();

        clock.innerHTML = `${hours} : ${minutes} : ${seconds}`;
      }, 1000);
    }
  },
}

</script>
<style>
  img {
    width: 40%;
	margin-bottom: 25px;
  }

  .welcome--content {
    display: block;
	text-align: center;
  }

  section {
    /*position: fixed;*/
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .clock {
    display: inline-block;
    color: #333;
    padding: 30px;
    font-size: 40px;
    /*border-radius: 4px;
    border: 4px solid #cad3dc;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.5);*/
  }

</style>