<template>
	<div id="page-top">
		<div id="wrapper">
			<Sidebar />

			<Main />
		</div>

		<a class="scroll-to-top rounded" href="#page-top">
			<i class="fas fa-angle-up"></i>
		</a>

		<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Cerrar Sesion</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">Seguro de cerrar sesion?</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" type="button" data-dismiss="modal" :disabled="loading">Cancelar</button>
						<button class="btn btn-primary" @click="onLogout" :disabled="loading">
							<b-spinner label="Loading..." small v-if="loading"></b-spinner>
							Salir
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="resetPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Resetear contraseña</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">¿Seguro de resetear tu contraseña?</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" type="button" data-dismiss="modal" :disabled="loading">Cancelar</button>
						<button class="btn btn-primary" @click="onReset" :disabled="loading">
							<b-spinner label="Loading..." small v-if="loading"></b-spinner>
							Confirmar
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import axios from 'axios';
import config from '../../config'
export default {
	data() {
		return {
			loading: false
		}
	},
	components: {
		Sidebar: ()=>import('./Template/Sidebar'),
		Main: ()=>import('./Template/Main')
	},
	methods: {
		onLogout() {
			this.loading = true
			this.$http.logout()
			.then(res => {
				this.logout()
				this.notifySuccess(res.data.message, 'Cierre de Sesion')

				setTimeout(() => {
					window.location.replace('/')
					this.loading = false
				},500);
			})
			.catch(err => {
				this.loading = false
				console.log(err.response)
			})
		},
		onReset() {
			const token = this.getToken();
			const me =  this.getUserID(token);
			
			axios.get(config.apipath + 'reset-password/' + me.uid).then(response => {
				this.$bvToast.toast('Contraseña reiniciada satisfactoriamente.', {
				title: 'Éxito!',
				variant: 'success',
				solid: true,
				'auto-hide-delay': 4000
			})
				alert(response.data.data);
				this.index();
			}).catch(err => console.log(err));
		}
	}
}
</script>
<style>
	
</style>