<template>
    <div class="loading text-center">
        <b-spinner label="Loading..."></b-spinner>
        <div>Cargando</div>
    </div>
</template>
<style>
    .loading {
        margin: 15%;
        width: 100%;
        height: 15vh;
        font-size: 30px;
    }
</style>